<!-- <img width="960" height="auto" [lazyLoad]="imgHome1" /> -->

<hr />

<!-- <img width="310" height="auto" [lazyLoad]="imgHome2" /> -->

<hr />

<!-- RETINA -->
<!-- <img width="310" height="auto" [lazyLoad]="imgHome3" /> -->

<p>
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta autem deserunt
  iusto, ratione mollitia illum odio delectus minus quod iure nisi animi ipsam
  dolor ut consectetur? Voluptate sapiente necessitatibus dignissimos?
  Laboriosam perferendis veritatis alias dolorum maxime tempore ut optio
  exercitationem deleniti inventore pariatur eos, blanditiis cum dolorem
  voluptatum omnis ratione iusto. Laudantium, nam velit. Dolore nulla sit
  provident odit suscipit!
</p>
